/**
* @name Nocturnal
* @version 3.0.1
* @description For when default discord just isn't dark enough, a theme for those who live a night
* @author Spectra
* @invite PZdnCVD
* @source https://github.com/xcruxiex/themes
* @website https://betterdiscord.app/theme/Nocturnal
*/
@import url("https://xcruxiex.github.io/themes/themes-cores/nocturnal.css");
@import url("https://xcruxiex.github.io/themes/core/badges.css");
@import url("https://xcruxiex.github.io/themes/core/custom-font.css");
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css"); /* Radial Status */
:root {
  --backgroundColor01: #25272b;
  --backgroundColor02: #0b0f11;
  --mainColor: #e99b00;
  --gradientColor01: #e99b00;
  --gradientColor02: #0b0f11;
  --members-width: 280px; /* Width of the members list. | Default: 280px */
  
  /* Better Hljs */
  --backgroundCode: #1e2731;
  --backgroundName: #000000;

  /* Radial Status */
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 1.5px; /* Ring width (follows same sizing as above) | Default: 1.5px */
	--rs-medium-width: 2px; /* Default: 2px */
	--rs-large-width: 2px; /* Default: 2px */
  --rs-width: 2px;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
  --rs-phone-visible: block;
  --rs-phone-color: var(--rs-online-color);
  /*--font: 'gg sans', sans-serif;*/
  /*noto sans, biko, */
  --customFont: 'noto sans';

}
